# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Specific
.~lock.*
.buildpath
.idea
.project
.settings
*.sublime-workspace
*.swp
*.swo

# Project Specific
node_modules
*.log
tmp
package-lock.json
